<nav>
    <div class="site-title">
        <a href="/"><h1>Thoughts</h1></a>
        <p>a platfrom to write your heart right❤</b></p>
    </div>
    <ul>
        <li><a href="/myThoughts">MyThoughts</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/thoughts/create">Create thoughts</a></li>
    </ul>
</nav>