<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>


<body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="about content">
        <h2>About</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut commodi earum quae tempora distinctio omnis obcaecati, et laborum! Labore, nam.
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, atque fuga eligendi sequi voluptate dolorem architecto, fugiat repudiandae 
        earum, nisi magnam. Unde veritatis minus commodi, tenetur quibusdam iure sapiente consequuntur. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
         Obcaecati asperiores sapiente rem voluptatibus laborum excepturi cum aperiam, iste architecto error!</span>
    </p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>