<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs') %>
  
  <body>
  <%- include('./partials/nav.ejs') %>

  <p>when you have a somthing to say why not trust in us to give <span>the chance to do it</span></p>
   
    <%- include('./partials/footer.ejs') %>
</body>
</html>